/* Estilos Gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtitulo {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.8em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 10px auto 60px auto;

}

.subtitulo-preto {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.8em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fec63e;
    text-align: center;
}

.subtitulo-preto::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fec63e;
    margin: 10px auto 60px auto;

}

.btn {
    border: 3px solid #fec63e;
    padding: 10px 30px;
    color: #fec63e;
    font-size: 1.125em;
    line-height: 1.25em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.btn:hover {
    border: 3px solid #fff;
    color: #fff;
}


/* Header */
.header {
    position: fixed;
    width: 100%;
    background-color: #fec63e;
    padding: 15px 0;
    top: 0;
    z-index: 10;
}

.header-menu {
    text-align: right;
    margin-top: 20px;
}

.header-menu ul li {
    display: inline-block;
    margin-left: 25px;
}

.header-menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.125em;
    padding: 10px 2px;
}

.header-menu ul li a:hover {
    color: #fff;
}

/*  Intro */

.intro {
    width: 100%;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 96px;
    height: 380px;
    text-align: center;
    padding-top: 80px;
}

.intro h1 {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    color: #fff;
    text-transform: uppercase;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 10px auto;
}

.quote-externo p::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 10px auto;
}

.quote-externo cite {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.125em;
    letter-spacing: .1em;
    color: #fff;
    font-style: normal;
}

/* Produtos */

.produtos {
    padding: 60px 0 !important;
}

.produtos-item {
    background: #fec63e;
    padding: 0 0 20px 0;

}

.produtos-icone {
    background: #000;
    text-align: center;
    padding: 20px 0;
}

.produtos-item h3 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;
}

.produtos-item h3::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #000;
    margin: 10px auto;
    display: block;
}

.produtos-item p {
    padding: 0 10px 20px 10px;
    text-align: center;
}

.call {
    text-align: center;
    padding: 60px 0;
    clear: both;
}

.btn-preto:hover {
    color: #000;
    border: 3px solid #000;
}

.call p {
    margin-bottom: 30px;
}


/* Portfolio */

.portfolio {
    background: #000000;
    color: #fff;
    padding: 60px 0;
}

.top-portfolio {
    display: inline-block;
    padding-bottom: 10px;
}

/* Qualidade */

.qualidade {
    padding: 60px 0 !important;
}

.qualidade-img {
    text-align: center;
    padding-top: 40px;
}

.qualidade::after {
    content: "";
    background: url(/WebDesignCompleto/bikecraft/img/bikcraft-qualidade.png);
    display: block;
    width: 200px;
    height: 120px;
    position: absolute;
    left: calc(50% - 100px);
    top: 150px;
}

.caracteristica {
    text-align: center;
}

.caracteristica h3 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

.caracteristica h3::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #000;
    display: block;
    margin: 10px auto;

}


/* Frase */

.frase {
    width: 100%;
    background: url(/WebDesignCompleto/bikecraft/img/bg-footer.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
}

/* Footer */

.footer {
    background: #000;
}

.footer-h3 {
    color: #fec63e;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0;
}

.footer-h3::after {
    content: "";
    width: 40px;
    height: 3px;
    background: #fec63e;
    display: block;
    margin: 10px 0;
}

.footer-lista div {
    padding: 20px 0 40px 0;
}

.footer-lista div p {
    color: #fff;
}

.social-icon {
    display: inline-block;
    border: 3px solid #fec63e;
}

.social-icon a img {
    display: block;
    padding: 5px;
}

.direitos {
    width: 100%;
    background: #fec63e;
}

.direitos p {
    padding: 20px 0;

}